<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/card.css">
    <link rel="stylesheet" href="/static/Navbar.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/footer.css">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Noto Sans JP", sans-serif;
        }
        body{
            /* background: -moz-linear-gradient(40deg, rgba(0,218,222,1) 0%, rgba(215,11,228,1) 70%);
            background: -webkit-linear-gradient(40deg, rgba(0,218,222,1) 0%, rgba(215,11,228,1) 70%);
            background: linear-gradient(40deg, rgba(0,218,222,1) 0%, rgba(215,11,228,1) 70%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00dade",endColorstr="#d70be4",GradientType=1); */
            background: rgba(0, 218, 222, 0.192);
            
            background-color: white;
            background-color: aliceblue;
        }
        
    </style>
</head>
<body>
    <nav>
        <div class="logo">
            <h1>ADC</h1>
        </div>
        <div class="menu">
                <a href="index.html" class="home hover">Home</a>
                <a href="card.html" class="questions hover">Questions</a>
                <a href="#" class="About hover">About Us</a>
        </div>
        <div class="SL">
                <!-- <div class="hover">SignUp</div> -->
                <div class="hover">Ask Question</div>
        </div>
    </nav>
    <div class="spacer"></div>

    <div class="card-container">
        <div class="card">
            <div class="close">
                <div class="line1 line"></div>
                <div class="line2 line"></div>
            </div>
            <div class="que-box">
                <h4>1. Who are you ??</h4>
            </div>
            <div class="btns-box">
                <div class="ans-btn">
                    <a class="element--hover">
                        Answers <span class="highlight">(5)</span>
                      </a>
                    </div>
                    <img class="profile" src="rocket.jpg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="close">
                <div class="line1 line"></div>
                <div class="line2 line"></div>
            </div>
            <div class="que-box">
                <h4>1. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates sapiente fuga dolor. ??</h4>
            </div>
            <div class="btns-box">
                <div class="ans-btn">
                    <a class="element--hover">
                        Answers <span class="highlight">(5)</span>
                      </a>
                    </div>
                    <img class="profile" src="rocket.jpg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="close">
                <div class="line1 line"></div>
                <div class="line2 line"></div>
            </div>
            <div class="que-box">
                <h4>1. Who are you ??</h4>
            </div>
            <div class="btns-box">
                <div class="ans-btn">
                    <a class="element--hover">
                        Answers <span class="highlight">(5)</span>
                      </a>
                    </div>
                    <img class="profile" src="rocket.jpg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="close">
                <div class="line1 line"></div>
                <div class="line2 line"></div>
            </div>
            <div class="que-box">
                <h4>1. Who are you ??</h4>
            </div>
            <div class="btns-box">
                <div class="ans-btn">
                    <a class="element--hover">
                        Answers <span class="highlight">(5)</span>
                      </a>
                    </div>
                    <img class="profile" src="rocket.jpg" alt="">
            </div>
        </div>
        <div class="card">
            <div class="close">
                <div class="line1 line"></div>
                <div class="line2 line"></div>
            </div>
            <div class="que-box">
                <h4>1. Who are you ??</h4>
            </div>
            <div class="btns-box">
                <div class="ans-btn">
                    <a class="element--hover">
                        Answers <span class="highlight">(5)</span>
                      </a>
                    </div>
                    <img class="profile" src="rocket.jpg" alt="">
            </div>
        </div>
    </div>

    <footer>
        <div class="main">
          <img src="/static/img.jpg" alt="" />
          <div class="info">
            <div class="box-1">
              <div class="connect">Let's connect!</div>
              <div class="sub-box-1">
                <input
                  type="email"
                  name="Your e-mail"
                  id=""
                  placeholder="Write your e-mail here"
                />
                <div class="btn element--hover">Submit</div>
              </div>
            </div>
            <div class="box-2">
              <div class="about">
                <div class="about1">About</div>
                <div class="about2">
                  ADC is the knowledge-sharing community where 4 students have
                  put their heads together to develope their toughest homework.
                </div>
              </div>
              <div class="contact">Contact</div>
              <div class="policy">
                <div class="pp1">Privacy Policy</div>
                <div class="pp2">
                  <ul>
                    <li>
                      Be polite and considerate of everyone participating in the
                      discussion.
                    </li>
                    <li>
                      Don't spam, spoil things, flood chat with CAPS, or
                      line-split.
                    </li>
                    <li>
                      Avoid inappropriate activities such as threatening,
                      stalking, insulting, abusing, impersonating, cruelty,
                      self-harm, and/or anything discriminatory.
                    </li>
                    <li>
                      Do not discuss sensitive topics such as Religion or
                      Politics.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="box-3">
              <div class="resrv">
                <p class="rights">All Rights Reserved ​ ​ ​&copy ​2022-23</p>
              </div>
              <div class="logo">
                <a href="https://github.com/ADC" target="_blank"
                  ><i class="fab fa-github-square fa-2x"></i
                ></a>
  
                <!-- <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-linkedin-in"></i> -->
              </div>
              <div class="ADC">Designed by ADC</div>
            </div>
          </div>
        </div>
      </footer>

</body>
</html>